Library/
Temp/
ProjectSettings/
Lady-csharp.sln
Atwood-csharp.sln
Atwood.sln
Atwood.userprefs
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Lady.sln
Lady.userprefs
